.homestay {
  margin: 10px;
  flex-basis: 30%;
  cursor: pointer;
}

.homestay-foto {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.homestay-judul {
  margin-top: 10px;
  text-align: center;
  line-height: 25px;
}
