.marker {
  background-color: lightblue;
  border: 2px solid steelblue;
  border-radius: 10px;
  padding: 8px;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 30px;
}

.marker.selected {
  background-color: yellow;
  border: 2px solid orange;
  color: red;
}
